@charset "UTF-8";

body{
    background-color: rgb(199, 253, 237);
}

#salariot{
    float: right;
    clear: both;
    margin-top: 20px;
    margin-right: 20px;
    
}

#salario{
    border-radius: 20px;
    margin-top: 10px;
    padding: 2px;
}

#salariot > label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.contasf{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.contasv{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}


main>div{
    margin-bottom: 15px;
    margin-left: 10px ;
}

h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 300;
margin-left: 20px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calcular{
   margin: auto;
   width: 90PX;
   padding: 10px;
   border-radius: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(39, 99, 84);
   color: white;
   border: 1px solid rgb(243, 241, 241); 
   margin-bottom: 40px; 
   display: none;
}

#total{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(25, 255, 83);
    width: max-content;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px; 
    
}

#opcoes{
    display: flex;
    gap: 60px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;    
}

#opcoes>div{
    background-color: rgb(3, 107, 67);
    padding: 5px;
    color: white;
    border-radius: 10px;
    height: auto;  
}



#calcular:hover{
    background-color: rgb(52, 212, 60);
    cursor: pointer;
    padding: 5px;
    transition: 1s;
}

#teste{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blue;
}



#opcoesmenu{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;  
    margin-bottom: 40px;
}

#opcoesmenu>div{
    background-color: rgb(0, 102, 109);
    padding: 5px;
    color: white;
    border-radius: 10px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#opcoesmenu div:hover{
    background-color: rgb(20, 80, 245);
    padding: 10px;
    transition: 0.5s;
}


#opcoes div:hover{
    background-color: rgb(65, 114, 250);
    padding: 7px;
    transition: 0.5s;
}

#todasfixas{
    display: none;
}

#todasvariaveis{
    display: none;
}

#todasfixas>div{
    margin-bottom: 30px;
}

#todasvariaveis>div{
    margin-bottom: 30px;
}

.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    padding:3px;
    background: 
      radial-gradient(farthest-side,#766DF4 95%,#0000) 50% 0/12px 12px no-repeat,
      radial-gradient(farthest-side,#0000 calc(100% - 5px),#766DF4 calc(100% - 4px)) content-box;
    animation:s6 2s infinite ;
    margin: auto;
    margin-bottom: 30px;
  }
  @keyframes s6 {to{transform: rotate(1turn)}}




